@import "tailwindcss";

/* Nextra theme overrides */
a {
  text-decoration: none;
}

article.x\:container {
  padding-top: 0 !important;
}

article.x\:container > header.x\:mb-8 {
  margin-bottom: 0 !important;
}

article {
  max-width: 680px;
}
